html, body {
    height: 100%;
    margin: 0;
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-header {
    flex: 1;
}

footer {
    color: white; 
    padding: 10px;
    text-align: center;
    width: 100%;
    position: absolute; 
    bottom: 0;
}