.chat-container{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.chat-container h2{
    align-items: center;
    padding-left: 550px;
    
}

.chat-box{
    height: 50vh;
    background-color: rgba(255, 253, 208, 0.5);
    justify-self: center;
    width: 80%;
    color: black;
    font-weight: bold;
}

.chat-controls{
    justify-self: center;
    width: 80%;
}