.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav-logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 30px;
}


.nav-menu{
    display: flex;
    align-items: right;
    list-style: none;
    font-size: 18px;
    gap: 20px;
}
.nav-menu li{
    background-color: transparent;
    border: none;
}

.nav-menu a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #007BFF;
}

.nav-menu a:active{
    color: #0056b3;
}
.nav-menu button{
    background-color: rgba(255, 253, 208, 0.5);;
    color: #fff;
    font-weight: 600;
    padding-top: 0;
    border-radius: 10%;
}